{% extends 'base.html' %}

{% block title %}
    商家
{% endblock %}
{% block ext_js %}
        <script src="https://cdn.staticfile.org/Plupload/2.1.1/moxie.js"></script>
        <script src="https://cdn.staticfile.org/Plupload/2.1.1/plupload.dev.js"></script>
        <script src="https://cdn.staticfile.org/qiniu-js-sdk/1.0.14-beta/qiniu.js"></script>
        <script src="{{ url_for('static', filename='js/itqiniu.js') }}"></script>
        <script src="{{ url_for('static', filename='js/img_upload.js') }}"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="page-header">
                <h3 class="text-center">商家</h3>
            </div>
            <form class="form-horizontal" method="post" action="" novalidate>
                        <div class="form-group">

                            <div class="col-sm-3">
                                <button id="upload-btn" class="btn btn-default form-control">上传图片</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="" alt="" id="image-show" width="50">
                                <span class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <span class="text-danger"></span>
                            </div>
                        </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}