{% extends 'base.html' %}
{% block title %}
    重置密码
{% endblock %}
{% block content %}
    <div class="content">
        <form class="layui-form" action="{{ url_for('cms.reset') }}" method="post">


            <div class="layui-form-item">
                <label class="layui-form-label">登陆密码</label>
                <div class="layui-input-block" style="overflow:visible">
                    <input type="text" name="title" lay-verify="title" autocomplete="off" class="layui-input">


                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-block" style="overflow:visible">
                    <input type="text" name="title" lay-verify="title" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div>
                <button>确认</button>
            </div>
        </form>

    </div>
{% endblock %}