{% extends 'base.html' %}

{% block content %}
    <tbody>
    <tr>
        <th>选择</th>
        <th>产品名称</th>
        <th>产品类型</th>
        <th>生产厂家</th>
        <th>产品规格</th>
        <th>生产日期</th>
        <th>保质期</th>
        <th>产地</th>
        <th>假冒出现时间</th>
        <th>假冒出现地点</th>
        <th></th>
    </tr>
    <tr class="single">
        <td><label><input type="checkbox" name="td_checkbox"><span></span></label></td>
        <td>不知道洁面乳</td>
        <td>化妆品</td>
        <td>那啥有限公司</td>
        <td>50g</td>
        <td>2018-11-2</td>
        <td>36个月</td>
        <td>四川</td>
        <td>2018-11-2</td>
        <td>四川</td>
        <td></td>
    </tr>
    </tbody>
{% endblock %}